body,html{
    font-family: Arial, Helvetica, sans-serif;
}
.app{
    width: 100%;
}
.app h1{
    text-align: center;
    margin-top: 0px;
}
.product{
    width: 30%;
    margin: auto;
}
product h1{
    font-weight: bold;
}
.image{
    width: 100%;
    
}
img{
    width: 100%;
}